.nawras {
  background-color: #f8f8f8;

  .plan {
    padding: 30px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 900px) {
      & {
        margin-bottom: 0px;
      }
    }

    // h2 {
    //   font-size: 3.438rem;
    //   font-weight: 500;
    //   margin-bottom: 20px;
    //   margin: 0;
    // }
    @media (max-width: 900px) {
      & h2 {
        margin: 0 auto;
      }
    }

    p {
      // margin: 15px 0 0 0;
      max-width: 479px;
      font-size: 1.2rem;
      font-weight: 400;
    }
    @media (max-width: 570px) {
      & {
        display: block !important;
      }
      & p {
        max-width: 100% !important;
      }
    }
  }

  .birdImage {
    object-fit: cover;
    width: 100%;
  }

  .whatIn {
    padding: 6.688rem 0 8.188rem;
    @media (max-width: 900px) {
      & {
        padding: 80px 0;
      }
    }
    @media (max-width: 570px) {
      & {
        padding: 1.563rem 0;
      }
    }

    h3 {
      font-size: 3.125rem;
      font-weight: 700;
      margin-bottom: 36px;
      margin-top: 0;
    }

    .cards {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 1.25rem;
      row-gap: 4.75rem;
      // max-width: 80%;
      @media (max-width: 900px) {
        & {
          // max-width: 100%;
          row-gap: 3.5rem;
        }
      }

      @media (max-width: 570px) {
        & {
          justify-content: center;
          gap: 1.125rem;
          row-gap: 2.313rem;
        }
      }

      .box {
        margin-bottom: 1.875rem;
      }

      .card {
        background-color: #fff;
        // padding: 35px;
        min-width: 16.5rem;
        min-height: 14.938rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        box-shadow: 0 3px 6px #00000029;
        text-align: center;
        @media (max-width: 570px) {
          min-width: 7.313rem;
          max-width: 7.313rem;
          min-height: 7.313rem;
          padding: 1rem;
          aspect-ratio: 1/1;
        }

        p {
          font-size: 1.563rem;
          font-weight: 400;
          margin: 0;
          line-height: 2.063rem;
          @media (max-width: 900px) {
            & {
              font-size: 1.3rem;
            }
          }

          @media (max-width: 570px) {
            & {
              font-size: 0.813rem;
              line-height: 1.5;
            }
          }
          // sup {
          //   font-size: 12px;
          // }
        }

        p.hired {
          color: #707070;
          font-size: 1.563rem;
          margin: 0;
          font-weight: 400;
          @media (max-width: 570px) {
            & {
              font-size: 0.813rem;
            }
          }
        }

        // p.hired:first-of-type {
        //   padding-top: 2rem;
        // }
      }

      .hiringCard {
        position: relative;
      }

      .hiringCard::after {
        content: "Coming Soon";
        position: absolute;
        width: 11.25rem;
        font-size: 1.313rem;
        text-align: center;
        border-radius: 6px 6px 0 0;
        top: -14%;
        // left: calc(50% - 65px);
        // left: 50%;
        // translate: translateX(-80%);
        background-color: #ff355e;
        color: #fff;
        padding: 3px 0;
      }
      @media (max-width: 900px) {
        .hiringCard::after {
          top: -16%;
        }
      }

      @media (max-width: 570px) {
        .hiringCard::after {
          width: 5.313rem;
          font-size: 0.625rem;
          padding: 0px;
          line-height: 0.938rem;
          border-radius: 3px 3px 0 0;
          top: -10%;
        }
      }
    }
  }

  .details {
    .accordion {
      // padding-top: 30px;
      background-color: transparent;
      box-shadow: none;
      border-top: 2px solid #d6d6d6;

      .wrap-box {
        padding-bottom: 5rem;
        @media (max-width: 900px) {
          & {
            padding-bottom: 25px;
          }
        }
      }

      h3 {
        font-size: 3.125rem;
        font-weight: 750;
        margin: 0;
      }

      ul {
        margin: 0 0 0 20px;
        padding: 0;

        p {
          margin: 0;
          font-weight: 400;
          font-size: 1.563rem;
          @media (max-width: 900px) {
            & {
              font-size: 1.1rem;
            }
          }

          @media (max-width: 570px) {
            & {
              font-size: 1rem;
            }
          }

          a {
            color: #e65a2c;
            text-decoration: underline;
          }
        }

        p.soon {
          color: #908f8f;
          font-weight: 400;
          font-size: 1.563rem;
          @media (max-width: 900px) {
            & {
              font-size: 1.1rem;
            }
          }
        }
      }

      .icon {
        background-color: #4b0177;
        color: #fff;
        height: 41px;
        width: 41px;

        @media (max-width: 900px) {
          & {
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }

  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.563rem 0 9.188rem;
    border-top: 2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    @media (max-width: 900px) {
      & {
        padding: 3.75rem 0;
      }
    }

    
    button {
      color: #fff;
      background-color: #e65a2c;
      border-radius: 6px;
      border: 1px solid #e65a2c;
      padding: 1.75rem 5rem;
      font-size: 2.188rem;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      @media (max-width: 900px) {
        & {
          padding: 14px;
          width: 100%;
          font-size: 1.4rem;
        }
      }

      @media (max-width: 570px) {
        & {
          padding: 11px;
          width: 100%;
          font-size: 1.125rem;
          max-width: 13.438rem;
        }
      }

      &:hover {
        background-color: #c3441a;
        border: 1px solid #c3441a;
      }
    }
  }

  .faq {
    margin-bottom: 14.563rem;
    @media (max-width: 900px) {
      & {
        margin-bottom: 5rem;
      }
    }

    .accordion {
      // padding-top: 30px;
      background-color: transparent;
      box-shadow: none;
      border-bottom: 2px solid #d6d6d6;

      .wrap-box {
        padding-bottom: 0px;
        @media (max-width: 900px) {
          & {
            padding-bottom: 20px;
          }
        }
      }

      h3 {
        font-size: 3.125rem;
        font-weight: 750;
        margin: 0;
      }

      .box {
        margin-bottom: 2.25rem;
        &:last-child {
          margin-bottom: 4.5rem;
        }
        @media (max-width: 900px) {
          & {
            margin-bottom: 15px;
          }
          &:last-child {
            margin-bottom: 1rem;
          }
        }
        p.question {
          font-weight: 600;
        }
        p.answer {
          font-weight: 400;
        }
        p {
          margin: 0;
          font-size: 1.563rem;
          @media (max-width: 900px) {
            & {
              font-size: 1.1rem;
            }
          }

          @media (max-width: 570px) {
            & {
              font-size: 1rem;
            }
          }

          a {
            color: #e65a2c;
            text-decoration: underline;
          }
        }
      }

      .icon {
        background-color: #4b0177;
        color: #fff;
        height: 41px;
        width: 41px;
        @media (max-width: 900px) {
          & {
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }
}
