.osfur {
  background-color: #f8f8f8;

  .plan {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h2 {
      font-size: 35px;
      font-weight: 550;
      margin: 0;
    }

    p {
      max-width: 335px;
      font-size: 18px;
      font-weight: 450;
    }
    @media (max-width: 570px) {
      & {
        display: block !important;
      }
      & p {
        max-width: 100% !important;
      }
    }
  }

  .birdImage {
    object-fit: cover;
    width: 100%;
  }

  .whatIn {
    padding: 100px 0;

    h3 {
      font-size: 27px;
      font-weight: 800;
      margin-bottom: 25px;
      margin-top: 0;
    }

    .cards {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

      .box {
        margin-bottom: 5px;
      }

      .card {
        background-color: #fff;
        padding: 15px;
        min-width: 210px;
        min-height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        box-shadow: 0 3px 6px #00000029;

        p {
          font-size: 23px;
          font-weight: 400;
          margin: 0;
          sup {
            font-size: 12px;
          }
        }
      }
    }
  }

  .details {
    .accordion {
      background-color: transparent;
      box-shadow: none;
      border-top: 2px solid #d6d6d6;

      .wrap-box {
        padding-bottom: 100px;
      }

      h3 {
        font-size: 30px;
        font-weight: 750;
        margin: 0;
      }

      ul {
        margin: 0 0 0 25px;
        padding: 0;

        p {
          margin: 0;
          font-weight: 500;
          font-size: 22px;

          a {
            color: #e65a2c;
            text-decoration: underline;
          }
        }
      }

      .icon {
        background-color: #4b0177;
        color: #fff;
      }
    }
  }

  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0;
    border-top: 2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;

    button {
      color: #fff;
      background-color: #e65a2c;
      border-radius: 6px;
      border: 1px solid #e65a2c;
      padding: 15px 55px;
      font-size: 22px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: #c3441a;
        border: 1px solid #c3441a;
      }
    }
  }
}

.faq {
  margin-bottom: 150px;

  .accordion {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #d6d6d6;

    .wrap-box {
      padding-bottom: 0px;;;;
    }

    h3 {
      font-size: 30px;
      font-weight: 750;
      margin: 0;
    }

    .box {
      margin-bottom: 20px;
      p.question {
        font-weight: 650;
      }
      p.answer {
        font-weight: 450;
      }
      p {
        margin: 0;
        font-size: 20px;

        a {
          color: #e65a2c;
          text-decoration: underline;
        }
      }
    }

    .icon {
      background-color: #4b0177;
      color: #fff;
    }
  }
}
