.top_banner {
  background-color: rgba(71, 52, 126, 0.6);
}
.top_banner button {
  padding: 0.563rem 0.875rem;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 0.875rem;
  font-family: Poppins;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  /* border: none; */
  outline: none;
  background: transparent;
  height: 3.063rem;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}
.top_banner_selected {
    border-bottom: 2px solid rgba(255, 255, 255, 1) !important;
}
.top_banner button:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.vertical_line {
  border: 1px solid #ffffff;
  /* width: 19px; */
}
@media (max-width: 570px) {
  .top_banner {
    background-color: rgba(168, 159, 188, 0.8);
  }
  .top_banner button {
    /* padding: 0.563rem 0.875rem; */
    font-style: normal;
    font-size: 1rem;
    line-height: 0.875rem;
    font-family: Poppins;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    /* border: none; */
    outline: none;
    background: transparent;
    height: 2.25rem;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid transparent;
  }
  .top_banner_selected {
    border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
  }
  .top_banner button:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }
}
